<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="<!--{:U('Admin/Index/index')}-->">报告</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="<!--{:U('Admin/Img/select')}-->">封面管理</a></li>
        <li><a href="<!--{:U('Admin/Article/select')}-->">文章管理</a></li>
        <li><a href="<!--{:U('Admin/Mood/select')}-->">说说管理</a></li>
        <li><a href="<!--{:U('Admin/Tag/select')}-->">标签管理</a></li>
        <li><a href="comment.html">评论管理</a></li>
        <li><a href="<!--{:U('Admin/Message/select')}-->">留言管理</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
            <ul class="dropdown-menu" aria-labelledby="otherMenu">
                <li><a href="<!--{:U('Admin/About/aboutblog')}-->">关于博客</a></li>
                <li><a href="<!--{:U('Admin/Friendlylink/select')}-->">友情链接</a></li>
                <li><a href="<!--{:U('Admin/Process/select')}-->">网站更新</a></li>
                <li><a href="<!--{:U('Admin/Visitors/select')}-->">访问记录</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">资源管理</a>
            <ul class="dropdown-menu" aria-labelledby="userMenu">
                <li><a href="<!--{:U('Admin/Resources/select')}-->">资源管理</a></li>
                <li><a href="<!--{:U('Admin/ResourcesType/select')}-->">资源分类管理</a></li>
            </ul>
        </li>
        <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
            <ul class="dropdown-menu" aria-labelledby="settingMenu">
                <li><a href="setting.html">基本设置</a></li>
                <li><a href="readset.html">阅读设置</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-toggle="modal" data-target="#areDeveloping">安全配置</a></li>
            </ul>
        </li>
    </ul>
</aside>