<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>编辑文章 - 博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/images/icon/icon.png">
<link rel="shortcut icon" href="__PUBLIC__/Admin/images/icon/favicon.ico">
<script src="__PUBLIC__/Admin/js/jquery-2.1.4.min.js"></script>
<!--[if gte IE 9]>
  <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/Admin/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/Admin/js/respond.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/Admin/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
      <!--加载顶部导航-->
      <include file="./Application/Admin/View/Public/nav.html"/>
  </header>
  <div class="row">
      <!--加载左边导航-->
      <include file="./Application/Admin/View/Public/left_nav.html"/>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="__URL__/update" method="post" class="add-article-form" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<!--{$list['id']}-->"/>
            <input type="hidden" name="views" value="<!--{$list['views']}-->"/>
          <div class="col-md-9">
            <h1 class="page-header">编辑文章</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <input type="text" id="article-title" name="articletitle" value="<!--{$list['articletitle']}-->" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
            </div>
            <div class="add-article-box">
                <h2 class="add-article-box-title"><span>图片</span></h2>
                <div class="add-article-box-content">
                    <input type="file" name="titlepic" class="form-control" autocomplete="off">
                    <img src="__PUBLIC__/Upload/zoom/<!--{$list['titlepic']}-->" alt=""/>
                </div>
            </div>
            <div class="form-group">
              <label for="article-content" class="sr-only">内容</label>
              <script id="article-content" name="articlecontent" type="text/plain"><!--{$list['articlecontent']|htmlspecialchars_decode}--></script>
            </div>
            <!--<div class="add-article-box">
              <h2 class="add-article-box-title"><span>关键字</span></h2>
              <div class="add-article-box-content">
              	<input type="text" class="form-control" placeholder="请输入关键字" name="keywords" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
              </div>
            </div>-->
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="description" autocomplete="off"><!--{$list['id']}--></textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标签</span></h2>
              <div class="add-article-box-content">
                  <!--{:wz($taglist,$tagarr)}-->
                  <!--<foreach name="tagarr" item="value">
                      <if condition="$list['id'] eq $value['articleid']">
                      <input style="margin: 0;" type="checkbox" class="form-control" name="name[]" value="&lt;!&ndash;{$value['id']}&ndash;&gt;" checked><span>&lt;!&ndash;{$value['name']}&ndash;&gt;</span>
                          <else/>
                          <input style="margin: 0;" type="checkbox" class="form-control" name="name[]" value="&lt;!&ndash;{$value['id']}&ndash;&gt;"><span>&lt;!&ndash;{$value['name']}&ndash;&gt;</span>
                      </if>

                  </foreach>-->
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-content">
                  <if condition="$list['ispublic'] eq 0">
                <p><label>公开度：</label><input type="radio" name="ispublic" value="0" checked/>公开
                    <input type="radio" name="ispublic" value="1" />加密</p>
                    <else/>
                      <p><label>公开度：</label><input type="radio" name="ispublic" value="0" />公开
                          <input type="radio" name="ispublic" value="1" checked/>加密</p>
                  </if>
                <p><label>发布于：</label><span class="article-time-display"><input style="border: none;" type="datetime" id="time" name="articletime" value="" /></span></p>
              </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">更新</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/admin-scripts.js"></script>
<script src="__PUBLIC__/Admin/lib/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__/Admin/lib/ueditor/ueditor.all.min.js"> </script>
<script src="__PUBLIC__/Admin/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<script id="uploadEditor" type="text/plain" style="display:none;"></script>
<script type="text/javascript">
var editor = UE.getEditor('article-content');
window.onresize=function(){
    window.location.reload();
}
var _uploadEditor;
$(function () {
    //重新实例化一个编辑器，防止在上面的editor编辑器中显示上传的图片或者文件
    _uploadEditor = UE.getEditor('uploadEditor');
    _uploadEditor.ready(function () {
        //设置编辑器不可用
        //_uploadEditor.setDisabled();
        //隐藏编辑器，因为不会用到这个编辑器实例，所以要隐藏
        _uploadEditor.hide();
        //侦听图片上传
        _uploadEditor.addListener('beforeInsertImage', function (t, arg) {
            //将地址赋值给相应的input,只去第一张图片的路径
            $("#pictureUpload").attr("value", arg[0].src);
            //图片预览
            //$("#imgPreview").attr("src", arg[0].src);
        })
        //侦听文件上传，取上传文件列表中第一个上传的文件的路径
        _uploadEditor.addListener('afterUpfile', function (t, arg) {
            $("#fileUpload").attr("value", _uploadEditor.options.filePath + arg[0].url);
        })
    });
});
//弹出图片上传的对话框
$('#upImage').click(function () {
    var myImage = _uploadEditor.getDialog("insertimage");
    myImage.open();
});
//弹出文件上传的对话框
function upFiles() {
    var myFiles = _uploadEditor.getDialog("attachment");
    myFiles.open();
}
    /*$(function(){
        var mydate = new Date();
        var t = mydate.getFullYear()+"-";
         t +=(mydate.getMonth()+1)+"-";
         t +=mydate.getDate()+"";
         t +=mydate.getHours()+":";
         t +=mydate.getMinutes()+":";
        t +=mydate.getSeconds();
        $("#time").val(t);
    })*/
</script>
</body>
</html>
