<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>文章 - 博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/images/icon/icon.png">
<link rel="shortcut icon" href="__PUBLIC__/Admin/images/icon/favicon.ico">
<script src="__PUBLIC__/Admin/js/jquery-2.1.4.min.js"></script>
<!--[if gte IE 9]>
  <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/Admin/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/Admin/js/respond.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/Admin/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
    <style>
        .pages{width:740px;text-align: center;margin-left:10px }
        .pages a,.pages span {
            display:inline-block;
            padding:2px 5px;
            margin:0 1px 0 3px;
            border:1px solid #f0f0f0;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:3px;
        }
        .pages a,.pages li {
            display:inline-block;
            list-style: none;
            text-decoration:none; color:#838383;

        }
        .pages a{
            background: #f7f6f1;
        }
        .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
            margin:0;
        }
        .pages a:hover{
            border-color:#50A8E6;
        }
        .pages span.current{
            background:#50A8E6;
            color:#FFF;
            font-weight:700;
            border-color:#50A8E6;
        }
    </style>
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
      <!--加载顶部导航-->
      <include file="./Application/Admin/View/Public/nav.html"/>
  </header>
  <div class="row">
      <!--加载左边导航-->
      <include file="./Application/Admin/View/Public/left_nav.html"/>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <form action="/Article/checkAll" method="post" >
        <!--<h1 class="page-header">操作</h1>-->
        <ol class="breadcrumb">
          <li><a href="__URL__/add"><i class="fa fa-plus-square-o"></i>发布文章</a></li>
        </ol>
        <h1 class="page-header">管理 <!--<span class="badge">7</span>--></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">封面</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span> <span class="visible-lg">是否公开</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
            <foreach name="article" item="value">
              <tr>
                <td><input type="checkbox" class="input-control" name="checkbox[]" value="" /></td>
                  <td class="article-title"><img src="__PUBLIC__/Upload/zoom/<!--{$value['titlepic']}-->" alt=""/></td>
                <td class="article-title"><!--{$value['articletitle']}--></td>
                  <if condition="($value['ispublic'] eq 0)">
                      <td class="hidden-sm">是</td>
                      <else/>
                      <td class="hidden-sm">否</td>
                  </if>
                <td><!--{$value['articletime']}--></td>
                <td>
                    <a href="__URL__/detail/id/<!--{$value['id']}-->">查看</a>
                    <a href="__URL__/edit/id/<!--{$value['id']}-->"><i class="fa fa-edit"></i></a>
                    <a rel="6" href="__URL__/delete/id/<!--{$value['id']}-->"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </foreach>
            </tbody>
          </table>
        </div>
        <footer class="message_footer">
          <nav>
            <div class="btn-toolbar operation" role="toolbar">
              <div class="btn-group" role="group"> <a class="btn btn-default" onClick="select()">全选</a> <a class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default" onClick="noselect()">不选</a> </div>
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="删除全部选中" name="checkbox_delete">删除</button>
              </div>
            </div>
            <ul class="pagination pagenav pages">
              <!--{$page}-->
            </ul>
          </nav>
        </footer>
      </form>
    </div>
  </div>
</section>

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/admin-scripts.js"></script>
<script>
//是否确认删除
$(function(){   
	$("#main table tbody tr td a").click(function(){
		var name = $(this);
		var id = name.attr("rel"); //对应id  
		if (event.srcElement.outerText == "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "/Article/delete",
					data: "id=" + id,
					cache: false, //不缓存此页面   
					success: function (data) {
						window.location.reload();
					}
				});
			};
		};
	});   
});
</script>
</body>
</html>
