<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
<script src="__PUBLIC__/Admin/js/jquery.js"></script>
<script src="__PUBLIC__/Admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="window.location.href='__URL__/add'"><span class="icon-plus-square-o"></span> 添加图片</button>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="20%">图片</th>
      <th width="15%">分类名称</th>
      <th width="20%">描述</th>
      <th width="15%">操作</th>
    </tr>
   <volist name="list" id="vo">
    <tr>
      <td><!--{$vo.id}--></td>
      <td><img src="__PUBLIC__/Upload/Rotation/<!--{$vo.picpath}-->" alt="" width="120" height="50" /></td>
      <td><!--{$vo.category}--></td>
      <td><!--{$vo.description}--></td>
      <td><div class="button-group">
      <a class="button border-main" href="#add"><span class="icon-edit"></span> 修改</a>
      <a class="button border-red" href="javascript:void(0)" onclick="return del(<!--{$vo.id}-->)"><span class="icon-trash-o"></span> 删除</a>
      </div></td>
    </tr>
   </volist>
  </table>
</div>
<script type="text/javascript">
function del(id){
	if(confirm("您确定要删除吗?")){
        location.href='__URL__/delete/id/'+id;
	}
}
</script>
</body></html>