<div class="banner">
    <div class="moduletable-banner">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <a href="#" target="_blank">
                        <img src="__PUBLIC__/Home/images/banner01.jpg" width="1004px" height="405" /></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="__PUBLIC__/Home/images/banner02.jpg" width="1004px" height="405"  /></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="__PUBLIC__/Home/images/banner01.jpg" width="1004px" height="405" /></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="__PUBLIC__/Home/images/banner02.jpg" width="1004px" height="405"  /></a>
                </li>
            </ul>
        </div>
    </div>
</div>