<div style="background:url(__PUBLIC__/Home/images/bg02.jpg) no-repeat center">
    <div class="a_banner">
        <div class="a_banner_box"><div class="moduletable-banner">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="#" target="_blank">
                            <img src="__PUBLIC__/Home/images/news07.jpg" width="1003px" height="289" /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="__PUBLIC__/Home/images/news071.jpg" width="1003px" height="289"  /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="__PUBLIC__/Home/images/news07.jpg" width="1003px" height="289" /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="__PUBLIC__/Home/images/news071.jpg" width="1003px" height="289"  /></a>
                    </li>
                </ul>
            </div>
        </div></div>
    </div>
</div>