#advsheadlb{
margin:0;
padding:0;
}

#advsheadlb_sd{
position:absolute;
top:0;
left:0;
padding:0;
width:990px;
height:3px;
background: url(../img/sd.png) repeat-x;
}


#advsheadlb .advsheadlbpic{
width:100%;
border:0px;
display:none;
}