<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>澳力康</title>
<link rel="shortcut icon" href="__PUBLIC__/Home/images/favicon.ico">
<link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/zzsc.css" type="text/css" />
<link type="text/css" href="__PUBLIC__/Home/css/flexslider.min.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/Home/css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/Home/JS/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/JS/js.js"></script>

<script type="text/javascript" src="__PUBLIC__/Home/JS/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/JS/jquery.flexslider.min.js"></script>

<script type="text/javascript">

$(window).load(function() {
$('.flexslider').flexslider();
});

$(document).ready(function() {
$('.flexslider').hover(function() {
$('.flex-direction-nav li a.prev').css('display', 'block');
$('.flex-direction-nav li a.next').css('display', 'block');
}, function() {
$('.flex-direction-nav li a.prev').css('display', 'none');
$('.flex-direction-nav li a.next').css('display', 'none');
});

});

</script>
    <style>
        .pages a,.pages span {
            display:inline-block;
            padding:2px 5px;
            margin:0 1px 0 3px;
            border:1px solid #f0f0f0;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:3px;
        }
        .pages a,.pages li {
            display:inline-block;
            list-style: none;
            text-decoration:none; color:#58A0D3;
        }
        .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
            margin:0;
        }
        .pages a:hover{
            border-color:#50A8E6;
        }
        .pages span.current{
            background:#50A8E6;
            color:#FFF;
            font-weight:700;
            border-color:#50A8E6;
        }
    </style>
</head>



<body>

<!-------------------------  logo s ---------------------->
<div style="background:url(__PUBLIC__/Home/images/bg01.jpg) no-repeat center">
<div class="logo">
<div class="logoa"><a href="../index.html"><img src="__PUBLIC__/Home/images/logo02.png"/></a></div>
</div>
</div>
<!-------------------------  logo e ---------------------->


<!-------------------------  menu s ---------------------->
<div class="muen_box">
<div class="muen">
<ul>
    <li><a href="<!--{:U('Home/Index/index')}-->" >首页<br/><span>Home</span></a></li>
    <li><a href="<!--{:U('Home/Company/company')}-->">公司简介<br/><span>Company</span></a></li>
    <li><a href="<!--{:U('Home/News/news')}-->">新闻资讯<br/><span>News</span></a></li>
    <li><a href="<!--{:U('Home/QuestProduct/wineculture')}-->">探秘产品<br/><span>Quest Product</span></a></li>
    <li><a href="<!--{:U('Home/Product/select')}-->" class="c">产品展示<br/><span>Products shows</span></a></li>
    <li><a href="<!--{:U('Home/Member/area')}-->">商务专区<br/><span>Business Area</span></a></li>
    <li><a href="<!--{:U('Home/JoinsUs/merchants')}-->">招商加盟<br/><span>Joins   Us</span></a></li>
    <li><a href="<!--{:U('Home/CustomerService/security')}-->">客服服务<br/><span>Customer Service</span></a></li>
    <li><a href="<!--{:U('Home/ContactUs/contactus')}-->">联系我们<br/><span>Contact Us</span></a></li>
</ul>
</div>
</div>
<!-------------------------  menu e ---------------------->



<!-------------------------  a_banner s ---------------------->
<include file="./Application/Home/View/Public/lbtwo.html"/>
<!-------------------------  a_banner e ---------------------->


<!-------------------------  a_box s ---------------------->
<div class="a_box">

<!-------------------------  a_l s ---------------------->
<div class="a_l">

<div class="a_la">
<div class="a_la_mian">
<div class="a_lat"><div class="a_lat_title"><span>产品展示</span><br/>products shows</div></div>
<div class="a_left1">
<div class="a_left2">
<div class="a_left_top"><a href="Products shows.html" class="c01">进口红葡萄酒</a><a href="Products shows1.html">进口橄榄油</a> <a href="Products shows2.html">精品展示</a> <a href="Products shows3.html">其他产品</a></div>
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="a_lb">
<div class="a_lb_main">
<div class="a_lba">联系我们&nbsp;<span>contact us</span></div>
<div class="a_lbb"><div class="a_lbb_title">广西桂林八里街工业园区</div></div>
<div class="a_lbbb"><div class="a_lbb_title">aullican@126.com</div></div>
<div class="a_lbc"><div class="a_lbc_title">0773-2639188<br/>13393639268</div></div>
</div>
</div>


</div>
<!-------------------------  a_l e ---------------------->


<!-------------------------  a_r s ---------------------->
<div class="a_r">

<div class="a_rt">
<div class="a_rt_title">产品展示<span>/ Products shows</span></div>
</div>

<volist name="arr" id="vo">
<div class="products">
<div class="products_l"><img src="__PUBLIC__/Upload/Product/<!--{$vo.picpath}-->" width="55" height="145"/></div>
<div class="products_r">
<div class="products_rt"><!--{$vo.productname}--></div>
<div class="products_rc">
<dd>度数：<!--{$vo.degree}-->vol</dd>
<dd>年份：<!--{$vo.years}-->年</dd>
<dd>产区：<!--{$vo.producingareas}--></dd>
<dd>等级：<!--{$vo.grade}--></dd>
</div>
<div class="products_rd"><a href="__URL__/productsdetail/id/<!--{$vo.id}-->">详情>></a></div>
</div>
</div>
</volist>


<div class="clear"></div>
<!--<div class="xianshi">每页显示XX条&nbsp;共XX条&nbsp;第X/X页</div>-->
<div class="about_t_down_fanye">
<p>
<div class="pages">
    <!--{$page}-->
</div>
</p>

</div>

</div>
<!-------------------------  a_r e ---------------------->


</div>
<!-------------------------  a_box e ---------------------->



<div class="H20"></div>
<!-------------------------  footer s ---------------------->
<div class="footer">
<div class="footer_main">
<div class="H20"></div>
Copyright © 桂林澳力康食品有限责任公司  版权所有<br/>
手机号码：13393639268  电话/传真：0773-2639188  电子邮箱：aullican@126.com<br/>
公司地址：广西桂林八里街工业园区
</div>
</div>
<!-------------------------  footer e ---------------------->


<!--代码开始-->
<div id="chat_f1">
	<div id="chat_f1_main">
		<div id="close"></div>
		<a title="点击咨询在线客服" href="#" class="a_kf"></a>
		<a title="点击咨询售后" href="#" class="a_sh"></a>
	</div>
	<div class="chat_f1_expr">
		<div class="list">
		<a href="#">&nbsp;<img src="__PUBLIC__/Home/images/kefu01.jpg"/></a>
		<br/>
		<a href="#">&nbsp;<img src="__PUBLIC__/Home/images/kefu02.jpg"/></a>
		<br/>
		</div>
		<div class="list">
		手机号码：<br/><span style="color:#b40303;">13393639268</span>
		</div>
		<div class="list">	
		电话/传真：<br/><span style="color:#b40303;">0773-2639188</span>
		</div>
	</div>
	<div id="chat_f1_bottom"></div>
</div>
<div id="chat_f2" style="display:none;">我要咨询</div>
<!--代码结束-->
</body>

</html>
